.nav {
display: flex;
justify-content: space-around;
}

.navLinks {
    display: flex;
    gap: 8px;
    list-style-type: none;   
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: gold;
}

.heroFooterBackground {
    background-color: #1f2937;
    color: white;
}