/* .nav {
    background-color:magenta;
    color:yellow;
}

.awesome {
    background-color: magenta;
    color: cyan;
}

.info {
    justify-content: space-around;
}

.quote {

}

div {
    display: flex;
}

.darkbackground {
    background-color: #1f2937;
} */